In [1]:
import pandas as pd
import os
from astropy.time import Time

In [2]:
code_path = '/home/john/code/Astro/'
support_data_path = os.path.join(code_path, 'variable_star')
in_file = os.path.join(support_data_path, 'all_star_summary.csv')
sequence_file = os.path.join(support_data_path,'baa_sequences.txt')
sequence_database_file = os.path.join(support_data_path,'baa_sequence_byclass.csv')

In [3]:
def load_baa_sequence_db():
    '''
    Load the BAA star summary data, containing sequence info, variable type, RA, dec, period etc.
    '''
    db = pd.read_csv(sequence_database_file)
    # clean nans in required fields
    db['Star'] = db['Star'].str.encode('ascii','ignore').str.decode('ascii')  #deal with non-ascii chars
    db['Con'] = db['Con'].str.encode('ascii','ignore').str.decode('ascii')  #deal with non-ascii chars
    db = db[db['Star']!='']  #empty cells
    db = db[db['Star'].isna()==False]
    db = db[db['Con'].isna()==False]
    db = db[db['Max'].isna()==False]
    db = db[db['Min'].isna()==False]
    db['Min'] = db['Min'].str.replace('V','')
    db = db[db['Chart'].isna()==False]  
    db['Star']=db['Star'].str.lower()
    db['Con']=db['Con'].str.lower()
    db['Full Name'] = db['Star'] + ' '+ db['Con']
    ra = db['RA'].str.split(expand=True)
    db['RA_hr'] = ra.iloc[:,0].astype('int')
    db['RA_min'] = ra.iloc[:,1].astype('int')
    dec = db['Dec'].str.split(expand=True)
    db['Dec_deg'] = dec.iloc[:,0].astype('float')
    db['Dec_min'] = dec.iloc[:,1].astype('float')
    return db

In [4]:
def load_baa_vsdb():
    # read in BAA variable star summary data as a Panda Data Frame
    vsdb = pd.read_csv(in_file)
    # rename to match the seq_db DataFrame
    vsdb = vsdb.rename(columns={'Variable Star':'Full Name'})
    vsdb['Full Name'] = vsdb['Full Name'].str.lower()
    # get the JD portion of the first/last observation entries, and store as Astropy
    #  Time objects
    first_obs = vsdb['First Observation JD / UT'].str.split(expand=True)
    latest_obs = vsdb['Latest Observation JD / UT'].str.split(expand=True)
    vsdb['First JD'] = Time(first_obs.iloc[:,0].tolist(), format='jd')
    vsdb['Latest JD'] = Time(latest_obs.iloc[:,0].tolist(), format='jd')
    return vsdb

In [5]:
seq_db = load_baa_sequence_db()
seq_db.head()

,Star,Con,RA,Dec,Type,Max,Min,Period,Chart,Class,Eclipse Duration,Full Name,RA_hr,RA_min,Dec_deg,Dec_min
0,r,and,00 24,+38 35,M,5.8,15.2,409.2,53.02,pulsating,NaN,r and,0,24,38.0,35.0
1,w,and,02 18,+44 18,M,6.7,14.6,397.3,35.02,pulsating,NaN,w and,2,18,44.0,18.0
2,aq,and,00 28,+35 35,SRb,7.7,9.5,169,303.01,pulsating,NaN,aq and,0,28,35.0,35.0
3,bz,and,00 38,+45 36,Lb,7.7,8.6,NaN,304.01,pulsating,NaN,bz and,0,38,45.0,36.0
4,rs,and,23 55,+48 38,SRa,7,9.4,136,334.01,pulsating,NaN,rs and,23,55,48.0,38.0

In [6]:
# Load database
vsdb_full = load_baa_vsdb()
# Database filtering
# VALID CONSTELLATION: where the Variable Star column has where there are two fields in the name (e.g. 'TX Dra')
#     and the VS Constellation column matches a valid constellation
vsdb_allconst = vsdb_full
#vsdb_allconst['Valid_nFields'] = vsdb_allconst['Full Name'].str.count(' ')

#remove rows which don't have 1 nFields
#vsdb_allconst.drop(vsdb_allconst[vsdb_allconst.Valid_nFields != 1].index, inplace=True)

# set the second field to be a 'Constellation' description.  Change to lower case
vs_const = vsdb_full['Full Name'].str.split(expand=True)
vsdb_full['VS Constellation'] = vs_const[1].str.lower()
vsdb_full.describe()

,Number of Observations,Number of Observers,Maximum Magnitude,Minimum Magnitude,Range
count,2645.000000,2645.000000,2645.000000,2645.000000,2645.000000
mean,904.272968,9.827977,9.882658,11.994442,2.111784
std,3113.952786,25.811231,2.991841,3.413102,2.315482
min,1.000000,1.000000,-0.600000,1.800000,0.000000
25%,2.000000,1.000000,7.600000,9.400000,0.100000
50%,22.000000,1.000000,10.100000,11.900000,1.360000
75%,298.000000,4.000000,12.000000,14.800000,3.300000
max,59231.000000,302.000000,19.000000,21.000000,17.200000

In [8]:
#  Remarkable bit of pandas magic.  Merging two Data Frame based on the name of the star
vs_all = pd.merge(vsdb_full, seq_db, how='left', on='Full Name')

# clean duplicate and unwanted info
#merged_db.drop(['Star', 'Con', 'Max', 'Min', 'First Observation JD / UT'])
vs_all = vs_all.drop(columns=['Star', 'Con', 'Max', 'Min', 'First Observation JD / UT'])
vs_all.columns

Index(['Full Name', 'Number of Observations', 'Number of Observers',
       'Latest Observation JD / UT', 'Maximum Magnitude', 'Minimum Magnitude',
       'Range', 'First JD', 'Latest JD', 'VS Constellation', 'RA', 'Dec',
       'Type', 'Period', 'Chart', 'Class', 'Eclipse Duration', 'RA_hr',
       'RA_min', 'Dec_deg', 'Dec_min'],
      dtype='object')

In [9]:
######## FILTERS ##########
# SEQUENCE FILE EXISTS
# filter on the VS which are available as a sequence file from the BAA
vs_target = vs_all[vs_all['Chart'].notna()]
vs_target = vs_target[vs_target['Chart']!='AAVSO']
vs_target.describe()

,Number of Observations,Number of Observers,Maximum Magnitude,Minimum Magnitude,Range,RA_hr,RA_min,Dec_deg,Dec_min
count,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000,323.000000
mean,5273.582043,51.176471,7.535294,11.260464,3.725170,11.749226,30.541796,34.873065,31.077399
std,7156.366335,52.178234,2.432532,3.575865,2.400548,7.420947,17.710595,22.876376,16.678646
min,6.000000,1.000000,1.000000,3.000000,0.300000,0.000000,0.000000,-23.000000,0.000000
25%,818.000000,8.000000,6.065000,8.600000,1.955000,5.000000,15.500000,19.000000,18.000000
50%,2734.000000,36.000000,7.000000,9.900000,2.800000,12.000000,30.000000,35.000000,32.000000
75%,7085.000000,76.500000,9.150000,14.600000,5.500000,19.000000,46.000000,53.500000,45.500000
max,59231.000000,302.000000,14.000000,20.800000,11.780000,23.000000,59.000000,85.000000,59.000000

In [11]:
# start filtering on conditions
# ignore eclipsing binaries
vs_target = vs_target[vs_target['Class']!='eclipsing']
vs_target['Class'].value_counts()

pulsating      165
cataclysmic     87
Name: Class, dtype: int64

In [14]:
# filter on min magnitude to find suitable binocular targets
vs_target = vs_target[vs_target['Minimum Magnitude']<=9.0]
vs_target.describe()

,Number of Observations,Number of Observers,Maximum Magnitude,Minimum Magnitude,Range,RA_hr,RA_min,Dec_deg,Dec_min
count,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000
mean,6239.400000,78.653333,5.632667,7.926933,2.294267,11.600000,32.080000,33.933333,30.920000
std,5349.079125,47.509172,1.190032,1.023700,0.857055,7.082525,18.725442,25.519644,16.991063
min,128.000000,2.000000,1.000000,3.000000,1.250000,0.000000,1.000000,-13.000000,0.000000
25%,2316.000000,45.500000,5.200000,7.500000,1.900000,6.000000,13.000000,17.000000,19.000000
50%,4940.000000,71.000000,5.900000,8.300000,2.200000,12.000000,35.000000,38.000000,29.000000
75%,8399.000000,104.500000,6.500000,8.600000,2.625000,18.000000,49.500000,55.000000,46.000000
max,29928.000000,237.000000,7.200000,9.000000,7.900000,23.000000,59.000000,85.000000,59.000000

In [20]:
vs_target = vs_target.sort_values(by=['RA_hr', 'RA_min'])
vs_target_short = vs_target[['Full Name', 'Chart','RA', 'Dec','Class', 'Type', 'Period','Maximum Magnitude', 'Minimum Magnitude','Number of Observations']]
vs_target_short.to_html('vs_binocular_targets.html')
pd.set_option('display.max_rows', 500)
vs_target_short.head(500)

,Full Name,Chart,RA,Dec,Class,Type,Period,Maximum Magnitude,Minimum Magnitude,Number of Observations
2518,wz cas,323.01,00 01,+60 21,pulsating,SRb,186,6.30,8.80,7671
1680,tv psc,1972Sep09,00 28,+17 54,pulsating,SR,49.1,4.54,5.90,1791
430,eg and,72.02,00 45,+40 41,cataclysmic,ZAND+E,482.57d,6.40,8.00,7481
552,gamma cas,64.01,00 57,+60 43,cataclysmic,GCAS,NaN,1.50,3.00,16678
2630,z psc,278.01,01 16,+25 46,pulsating,SRb,155.8,6.30,8.30,2259
2181,v465 cas,233.02,01 18,+57 48,pulsating,SRb,60,4.60,8.60,14904
2097,v393 cas,337.01,02 03,+71 18,pulsating,SRa,393,6.95,8.40,4034
727,kk per,344.01,02 10,+56 34,pulsating,Lc,NaN,7.00,9.00,2024
251,bu tau,1983Oct03,03 49,+24 08,cataclysmic,GCAS+LERI+SPB,12630d,4.20,6.74,6179
1465,ss cep,315.01,03 50,+80 19,pulsating,SRb,90,6.20,8.60,5420
2548,x per,277.01,03 55,+31 03,cataclysmic,GCAS+HMXB+XP,250.3d,5.60,6.90,14420
1770,uv cam,343.01,04 06,+61 48,pulsating,SRb,294,6.90,8.80,2265
2557,xx cam,68.02,04 09,+53 22,cataclysmic,RCB:,NaN,6.50,8.20,12585
2642,zz cam,343.01,04 18,+62 21,pulsating,Lb,NaN,6.70,8.10,2234
1478,st cam,111.02,04 51,+68 10,pulsating,SRb,300,6.20,8.40,5701
35,ab aur,301.01,04 56,+30 33,cataclysmic,UXOR/ROT,6.551d,6.50,8.50,10630
2482,w ori,105.02,05 05,+01 11,pulsating,SRb,212,5.30,8.00,3429
1285,rx lep,110.02,05 11,-11 51,pulsating,SRb,79.54,5.00,7.00,3194
1663,tu gem,294.01,06 11,+26 01,pulsating,SRb,217,6.80,9.00,2711
248,bu gem,294.01,06 12,+22 55,pulsating,SRc,325,5.50,8.30,6565
1676,tv gem,294.01,06 12,+21 52,pulsating,SRc,NaN,6.00,8.30,4859
2514,wy gem,294.01,06 12,+23 12,pulsating,Lc+E?,64.48y,6.50,8.50,5615
222,bl ori,211.02,06 26,+14 43,pulsating,SRb,153.8,5.71,7.70,3348
1761,uu aur,230.02,06 37,+38 27,pulsating,SRb,235,4.70,7.30,9598
1253,rv mon,292.01,06 58,+06 10,pulsating,SRb,132,6.50,8.90,1851
2468,w cma,213.02,07 08,-11 55,pulsating,SR,160,6.20,8.40,1174
1747,u mon,29.04,07 31,-09 47,pulsating,RVB,91.32,5.20,8.50,10814
1518,sv lyn,108.03,08 04,+36 21,pulsating,SRb,70,6.40,8.60,4379
2533,x cnc,231.02,08 55,+17 04,pulsating,SRb,180,5.40,7.70,4124
1207,rt cnc,311.01,08 58,+10 51,pulsating,SRb,90.04,5.90,8.70,1863
1181,rs cnc,269.01,09 11,+30 58,pulsating,SRb,242.2,4.70,7.40,5614
1742,u hya,109.02,10 38,-13 23,pulsating,SRb,183.1,4.10,6.80,1459
2450,vy uma,226.02,10 45,+67 25,pulsating,SRb,120.4,5.50,7.80,6854
2433,vw uma,226.02,10 59,+69 59,pulsating,SR,615,5.50,8.30,5136
1488,st uma,102.02,11 28,+45 11,pulsating,SRb,80,6.00,8.00,5441
1681,tv uma,271.01,11 46,+35 54,pulsating,SRb,53.74,6.40,8.10,2930
1271,rw vir,317.01,12 07,-06 46,pulsating,SRb,175,6.78,8.30,828
1309,ry uma,217.02,12 21,+61 19,pulsating,SRb,310,6.50,8.50,9853
218,bk vir,270.01,12 30,+04 25,pulsating,SRb,140,7.20,9.00,958
2578,y cvn,215.02,12 45,+45 26,pulsating,SRb,267.8,4.70,6.70,7419
1661,tu cvn,215.02,12 55,+47 12,pulsating,SRb,44.2,5.20,6.60,7107
1299,ry dra,225.02,12 56,+66 00,pulsating,SRb?,300,5.70,8.70,11910
1532,sw vir,98.02,13 14,-02 48,pulsating,SRb,146,6.20,8.50,1329
1830,v cvn,214.02,13 20,+45 32,pulsating,SRa,191.89,6.10,8.95,10225
2463,w boo,Undated,14 43,+26 32,pulsating,SRb?,25.51,4.20,5.70,1798
544,fy lib,348.01,14 58,-12 25,pulsating,SRb,179.7,6.90,8.30,128
1159,rr crb,220.02,15 41,+38 33,pulsating,SRb,60.8,6.60,8.60,3692
1483,st her,223.02,15 51,+48 29,pulsating,SRb,144,6.85,9.00,3069
2540,x her,223.02,16 03,+47 14,pulsating,SRb,102,5.50,7.67,9450
1702,tx dra,106.03,16 35,+60 28,pulsating,SRb,78,6.10,8.60,9141
1009,op her,324.01,17 57,+45 21,pulsating,SRb,120.5,5.20,7.40,7441
2258,v566 her,324.01,18 08,+41 43,pulsating,SRb,137,6.80,8.40,1875
687,iq her,48.04,18 18,+17 59,pulsating,SRb,76.5,5.90,8.60,2022
2567,xy lyr,331.01,18 38,+39 40,pulsating,SRc,120,5.28,7.20,5300
1139,r sct,26.04,18 48,-05 42,pulsating,RVA,146.5,1.00,8.90,28171
1366,s sct,26.04,18 50,-07 54,pulsating,SRb,149.7,5.60,8.80,2909
1127,r lyr,330.01,18 55,+43 57,pulsating,SRb,46,3.30,5.50,6367
1818,v aql,26.04,19 04,-05 41,pulsating,SRb,353,6.30,8.66,4902
1794,ux dra,346.01,19 22,+76 34,pulsating,SRb,175,5.60,7.50,2200
58,af cyg,232.02,19 30,+46 09,pulsating,SRb,92.5,5.80,8.60,12405
2161,v450 aql,70.02,19 34,+05 28,pulsating,SRb,64.2,5.60,7.50,5364
1649,tt cyg,227.02,19 41,+32 37,pulsating,SRb,118,7.00,9.00,3536
2403,v973 cyg,232.02,19 45,+40 43,pulsating,SRb,40,5.50,7.70,3833
1025,p cyg,1972Jul29,20 18,+38 02,cataclysmic,SDOR,NaN,2.90,6.15,9460
473,eu del,228.02,20 38,+18 16,pulsating,SRb,58.63,4.50,7.60,9256
1738,u del,228.02,20 46,+18 06,pulsating,SRb,120,6.00,8.00,9127
548,fz cep,302.01,21 20,+55 27,pulsating,SR,NaN,6.50,8.20,1904
2472,w cyg,62.04,21 36,+45 22,pulsating,SRb,131.7,4.57,7.90,29928
2174,v460 cyg,336.01,21 42,+35 31,pulsating,SRb,180,4.80,7.45,4391
388,dm cep,Undated,22 08,+72 46,pulsating,Lb,NaN,6.95,8.20,2355
1260,rw cep,312.02,22 23,+55 58,pulsating,SRd,346,6.00,7.90,4940
124,ar cep,332.01,22 52,+85 03,pulsating,SRb,364,6.20,8.80,7541
576,go peg,103.02,22 55,+19 34,pulsating,SRb,79.3,6.80,8.80,3664
1705,tx psc,276.01,23 46,+03 29,pulsating,Lb,NaN,4.51,6.60,2277
1150,rho cas,64.01,23 54,+57 29,pulsating,SDOR,NaN,3.61,6.50,12646

In [22]:
vs_lowobs = vs_target_short[vs_target_short['Number of Observations']<=3000]
vs_lowobs.to_html('vs_binocular_targets_lowobs.html')
vs_lowobs.head(90)

,Full Name,Chart,RA,Dec,Class,Type,Period,Maximum Magnitude,Minimum Magnitude,Number of Observations
1680,tv psc,1972Sep09,00 28,+17 54,pulsating,SR,49.1,4.54,5.9,1791
2630,z psc,278.01,01 16,+25 46,pulsating,SRb,155.8,6.30,8.3,2259
727,kk per,344.01,02 10,+56 34,pulsating,Lc,NaN,7.00,9.0,2024
1770,uv cam,343.01,04 06,+61 48,pulsating,SRb,294,6.90,8.8,2265
2642,zz cam,343.01,04 18,+62 21,pulsating,Lb,NaN,6.70,8.1,2234
1663,tu gem,294.01,06 11,+26 01,pulsating,SRb,217,6.80,9.0,2711
1253,rv mon,292.01,06 58,+06 10,pulsating,SRb,132,6.50,8.9,1851
2468,w cma,213.02,07 08,-11 55,pulsating,SR,160,6.20,8.4,1174
1207,rt cnc,311.01,08 58,+10 51,pulsating,SRb,90.04,5.90,8.7,1863
1742,u hya,109.02,10 38,-13 23,pulsating,SRb,183.1,4.10,6.8,1459
1681,tv uma,271.01,11 46,+35 54,pulsating,SRb,53.74,6.40,8.1,2930
1271,rw vir,317.01,12 07,-06 46,pulsating,SRb,175,6.78,8.3,828
218,bk vir,270.01,12 30,+04 25,pulsating,SRb,140,7.20,9.0,958
1532,sw vir,98.02,13 14,-02 48,pulsating,SRb,146,6.20,8.5,1329
2463,w boo,Undated,14 43,+26 32,pulsating,SRb?,25.51,4.20,5.7,1798
544,fy lib,348.01,14 58,-12 25,pulsating,SRb,179.7,6.90,8.3,128
2258,v566 her,324.01,18 08,+41 43,pulsating,SRb,137,6.80,8.4,1875
687,iq her,48.04,18 18,+17 59,pulsating,SRb,76.5,5.90,8.6,2022
1366,s sct,26.04,18 50,-07 54,pulsating,SRb,149.7,5.60,8.8,2909
1794,ux dra,346.01,19 22,+76 34,pulsating,SRb,175,5.60,7.5,2200
548,fz cep,302.01,21 20,+55 27,pulsating,SR,NaN,6.50,8.2,1904
388,dm cep,Undated,22 08,+72 46,pulsating,Lb,NaN,6.95,8.2,2355
1705,tx psc,276.01,23 46,+03 29,pulsating,Lb,NaN,4.51,6.6,2277