In [1]:
import pandas as pd

In [2]:
# get the constallation name abbreviations, to limit variable stars to sensible names
def load_const_file(const_file):
#const_file = 'constellation_names.txt'
    f_const = open(const_file)
    line = ' '
    const_abbr = []
    while line != '':
        line = f_const.readline()
        const_abbr.append(line.split('\t')[-1].replace('\n',''))
    const_abbr = const_abbr[2:]
    f_const.close()
    const_abbr_low = [ const.lower() for const in const_abbr ]
    return const_abbr_low

In [3]:
def load_seq_pattern(seq_file):
    '''
    get the sequence files available on BAA and return as regexp pattern

    '''
    seq = pd.read_csv('baa_sequences.txt',delimiter='\t')
    obj = seq['Object Id']
    display(obj)
    obj.describe()
    obs_lower = obj.str.lower()
    seq_pattern = '|'.join(obs_lower)
    return seq_pattern

In [4]:
in_file = '/home/john/code/Astro/variable_star/all_star_summary.csv'

In [5]:
# read in BAA variable star summary data as a Panda Data Frame
vsdb_full = pd.read_csv(in_file)
vsdb_full.head()

FileNotFoundError: [Errno 2] No such file or directory: '/home/john/astro/variable_star_data/baa/all_star_summary.csv'

In [ ]:
vsdb_full.describe()

In [ ]:
vsdb_full.hist('Number of Observations', bins=100)

In [ ]:
# can also call describe() on a Series object
vsdb_full['Maximum Magnitude'].describe()

In [ ]:
vsdb_full[['Variable Star', 'Number of Observations', 'Number of Observers']].sort_values(by='Number of Observations', ascending=False).head(30)

In [ ]:
# create a pattern to search which is an OR of each element in const_abbr (i.e. any constallation abbreviation)
const_abbrev = load_const_file('constellation_names.txt')
pattern = '|'.join(const_abbrev)
# need to watch the trailing OR, which seems to cause everything to match
pattern = pattern[:-1]
print(pattern)

In [ ]:
# I only want the stars where there are two fields in the name (e.g. 'TX Dra')
vsdb_allconst = vsdb_full
vsdb_allconst['Valid_nFields'] = vsdb_allconst['Variable Star'].str.count(' ')

#remove rows which don't have 1 nFields
vsdb_allconst.drop(vsdb_allconst[vsdb_allconst.Valid_nFields != 1].index, inplace=True)

# set the second field to be a 'Constellation' description.  Needs to be lower case to match pattern, above.
vs_const = vsdb_allconst['Variable Star'].str.split(expand=True)
vsdb_allconst['VS Constellation'] = vs_const[1].str.lower()

In [ ]:
# check whether str.contains is working...
vsdb_allconst['VS Constellation'].str.contains(pattern)==True

In [ ]:
# drop all rows where the conditional statement 
vsdb_allconst.drop(vsdb_allconst[vsdb_allconst['VS Constellation'].str.contains(pattern)==False].index, inplace=True)
vsdb_allconst.head()

In [ ]:
# vsdb, after initial filter on valid star name (two fields, contains a constellation abbreviation)
vsdb_allconst.describe()

In [ ]:
vsdb_allconst[['VS Constellation']].value_counts()

In [ ]:
# slicing via []
vsdb_allconst[vsdb_allconst['VS Constellation']=='cyg']

In [ ]:
#  this conditional statement returns a pandas Series of booleans
vsdb_allconst['VS Constellation']=='cyg'

In [ ]:
type(vsdb_allconst['VS Constellation']=='cyg')

In [ ]:
# check the dtype. Note the () are needed to prevent dtype operating on 'cyg'
(vsdb_allconst['VS Constellation']=='cyg').dtype

In [ ]:
# slicing via loc
# this is equivalent (I think!) to 
# vsdb[vsdb['VS Constellation']=='cyg']
vsdb_allconst.loc[vsdb_allconst['VS Constellation']=='cyg']

In [ ]:
vsdb_allconst[vsdb_allconst['VS Constellation']=='cyg'].sort_values(by='Number of Observations', ascending=False)

In [ ]:
# Having done that, now look at TARGET CONSTELLATIONS, but selecting the constallations that I 
# want to observe
# create a pattern to search which is an OR of each element in const_abbr (i.e. any constallation abbreviation)
vsdb_targets = vsdb_allconst
const_abbrev = load_const_file('constellation_names_targets.txt')
pattern = '|'.join(const_abbrev)
# need to watch the trailing OR, which seems to cause everything to match
pattern = pattern[:-1]
print(pattern)
# drop all rows where the conditional statement 
vsdb_targets.drop(vsdb_targets[vsdb_targets['VS Constellation'].str.contains(pattern)==False].index, inplace=True)
# start filtering on conditions
# first, range > v1.0
# this reduces the number of objects from ~2100 to ~1200
vsdb_targets = vsdb_targets[vsdb_targets['Range']>=1.0]
vsdb_targets.head()

In [ ]:
# start filtering on conditions
# first, range > v1.0
# this reduces the number of objects from ~2100 to ~1200
vsdb_targets = vsdb_targets[vsdb_targets['Range']>=1.0]
vsdb_targets.describe()

In [ ]:
# filter on min magnitude to find suitable binocular targets
#  reduces targets to ~200
vsdb_targets = vsdb_targets[vsdb_targets['Minimum Magnitude']<=9.0]
vsdb_targets.describe()

In [ ]:
vsdb_targets['Number of Observations'].hist()

In [ ]:
vsdb_targets.describe()

In [26]:
# generate a target list from the 25% least observed variables
vs_target_list = vsdb_targets[vsdb_targets['Number of Observations']<=275]
# although probably better to try filtering on EXISTING baa sequence file first
# then possibly time since last obs?

In [27]:
vs_target_list.drop(columns='Valid_nFields')

,Variable Star,Number of Observations,Number of Observers,First Observation JD / UT,Latest Observation JD / UT,Maximum Magnitude,Minimum Magnitude,Range,VS Constellation
93,ALPHA UMI,3,1,2453716.356000 11 Dec 2005 20:32:38.400000,2454465.519000 31 Dec 2007 00:27:21.600000,0.10,2.80,2.70,umi
189,BETA LEO,67,5,2443571.517000 4 Mar 1978 00:24:28.800000,2458951.469000 11 Apr 2020 23:15:21.600000,1.60,3.00,1.40,leo
227,BM ORI,5,1,2454498.263000 1 Feb 2008 18:18:43.200000,2457421.279000 2 Feb 2016 18:41:45.600000,5.50,8.50,3.00,ori
320,CO AUR,229,5,2442427.437000 14 Jan 1975 22:29:16.800000,2454829.512500 29 Dec 2008 00:18:00.000000,7.30,8.30,1.00,aur
342,CT DEL,69,3,2456710.729000 22 Feb 2014 05:29:45.600000,2458960.615000 21 Apr 2020 02:45:36.000000,6.90,8.20,1.30,del
372,DELTA UMA,217,7,2440420.524000 18 Jul 1969 00:34:33.600000,2459050.417000 19 Jul 2020 22:00:28.800000,2.10,4.40,2.30,uma
384,DK BOO,9,1,2458245.448000 6 May 2018 22:45:07.200000,2459310.347000 5 Apr 2021 20:19:40.800000,7.70,8.70,1.00,boo
392,DN GEM,12,1,2419477.330000 15 Mar 1912 19:55:12.000000,2419540.420000 17 May 1912 22:04:48.000000,4.00,7.20,3.20,gem
443,EK CEP,221,3,2446491.388000 1 Mar 1986 21:18:43.200000,2458961.578000 22 Apr 2020 01:52:19.200000,7.60,8.90,1.30,cep
452,EP Aqr,16,1,2455854.309000 19 Oct 2011 19:24:57.600000,2456272.239000 10 Dec 2012 17:44:09.600000,6.30,7.30,1.00,aqr
532,FS COM,240,4,2445468.430000 13 May 1983 22:19:12.000000,2459752.480000 21 Jun 2022 23:31:12.000000,5.50,6.90,1.40,com
544,FY LIB,128,2,2451261.109000 23 Mar 1999 14:36:57.600000,2459787.426000 26 Jul 2022 22:13:26.400000,6.90,8.30,1.40,lib
643,HR PEG,71,3,2444882.372000 4 Oct 1981 20:55:40.800000,2459599.260400 19 Jan 2022 18:14:58.560000,6.10,7.50,1.40,peg
699,IU AUR,58,3,2449597.558000 2 Sep 1994 01:23:31.200000,2458482.338800 29 Dec 2018 20:07:52.320000,6.90,9.00,2.10,aur
712,IZ PER,173,2,2443777.313000 25 Sep 1978 19:30:43.200000,2457310.494000 14 Oct 2015 23:51:21.600000,7.45,8.80,1.35,per
738,KP DEL,89,3,2455752.433000 9 Jul 2011 22:23:31.200000,2459904.281000 20 Nov 2022 18:44:38.400000,6.30,8.80,2.50,del
782,LQ HER,16,2,2444333.333333 3 Apr 1980 19:59:59.971200,2459726.494000 26 May 2022 23:51:21.600000,6.00,7.70,1.70,her
820,MO CEP,111,2,2451516.385000 3 Dec 1999 21:14:24.000000,2459852.410000 29 Sep 2022 21:50:24.000000,5.00,6.50,1.50,cep
1104,R CMA,88,5,2411763.520833 31 Jan 1891 00:29:59.971200,2454827.620100 27 Dec 2008 02:52:56.640000,5.20,6.64,1.44,cma
1185,RS Del,44,3,2440391.528000 19 Jun 1969 00:40:19.200000,2458457.322200 4 Dec 2018 19:43:58.080000,7.00,8.70,1.70,del
1201,RT AUR,50,5,2440287.326000 6 Mar 1969 19:49:26.400000,2451890.588000 12 Dec 2000 02:06:43.200000,4.90,6.10,1.20,aur
1203,RT CAP,146,1,2444482.405000 30 Aug 1980 21:43:12.000000,2459870.295000 17 Oct 2022 19:04:48.000000,7.40,8.70,1.30,cap
1278,RX CYG,49,1,2444144.472000 27 Sep 1979 23:19:40.800000,2457513.503000 5 May 2016 00:04:19.200000,7.00,8.20,1.20,cyg
1352,S LEP,199,3,2444168.675000 22 Oct 1979 04:12:00.000000,2459858.672000 6 Oct 2022 04:07:40.800000,6.40,7.90,1.50,lep
1479,ST CEP,85,10,2440621.394000 3 Feb 1970 21:27:21.600000,2459633.354100 22 Feb 2022 20:29:54.240000,7.50,9.00,1.50,cep
1496,SU CYG,58,1,2455773.405000 30 Jul 2011 21:43:12.000000,2456278.245000 16 Dec 2012 17:52:48.000000,6.60,7.60,1.00,cyg
1561,SZ PSC,275,3,2443472.281000 24 Nov 1977 18:44:38.400000,2457279.413000 13 Sep 2015 21:54:43.200000,6.80,8.00,1.20,psc
1573,T CET,227,3,2444113.540000 28 Aug 1979 00:57:36.000000,2459842.466000 19 Sep 2022 23:11:02.400000,4.90,7.00,2.10,cet
1656,TT UMI,183,3,2454419.400700 14 Nov 2007 21:37:00.480000,2459852.413000 29 Sep 2022 21:54:43.200000,6.80,8.20,1.40,umi
1659,TU CAS,170,3,2449739.618700 22 Jan 1995 02:50:55.680000,2454952.513900 1 May 2009 00:20:00.960000,6.80,8.50,1.70,cas
1692,TW PEG,80,3,2445968.326000 24 Sep 1984 19:49:26.400000,2459852.402000 29 Sep 2022 21:38:52.800000,7.00,8.40,1.40,peg
1695,TW UMI,131,3,2454419.402100 14 Nov 2007 21:39:01.440000,2459852.414000 29 Sep 2022 21:56:09.600000,7.10,8.40,1.30,umi
1732,U CET,10,2,2411741.500000 9 Jan 1891 00:00:00.000000,2413562.500000 4 Jan 1896 00:00:00.000000,6.60,9.00,2.40,cet
1859,V1016 ORI,7,1,2454498.263000 1 Feb 2008 18:18:43.200000,2457421.279000 2 Feb 2016 18:41:45.600000,5.40,7.30,1.90,ori
1895,V1229 Aql,2,1,2440695.626000 19 Apr 1970 03:01:26.400000,2440709.580000 3 May 1970 01:55:12.000000,7.30,8.60,1.30,aql
1953,V1743 CYG,2,2,2456940.424000 9 Oct 2014 22:10:33.600000,2458996.503000 27 May 2020 00:04:19.200000,6.30,8.00,1.70,cyg
1976,V2080 CYG,41,2,2456840.451000 1 Jul 2014 22:49:26.400000,2458635.478100 31 May 2019 23:28:27.840000,6.20,8.30,2.10,cyg
1994,V2368 OPH,16,2,2453934.475700 17 Jul 2006 23:25:00.480000,2458341.399000 10 Aug 2018 21:34:33.600000,5.80,7.30,1.50,oph
2011,V336 VUL,34,1,2447603.688889 18 Mar 1989 04:32:00.009600,2449012.733000 25 Jan 1993 05:35:31.200000,6.90,8.70,1.80,vul
2046,V361 Ori,26,3,2440285.326000 4 Mar 1969 19:49:26.400000,2446519.351000 29 Mar 1986 20:25:26.400000,7.90,8.90,1.00,ori
2141,V428 AUR,235,4,2458099.330000 11 Dec 2017 19:55:12.000000,2459906.392000 22 Nov 2022 21:24:28.800000,6.50,8.10,1.60,aur
2166,V451 OPH,110,2,2453594.410400 11 Aug 2005 21:50:58.560000,2458261.544000 23 May 2018 01:03:21.600000,7.60,8.70,1.10,oph
2173,V459 VUL,4,2,2454468.243800 2 Jan 2008 17:51:04.320000,2454473.259700 7 Jan 2008 18:13:58.080000,8.00,9.00,1.00,vul
2213,V505 MON,98,3,2443803.718000 22 Oct 1978 05:13:55.200000,2458440.632000 18 Nov 2018 03:10:04.800000,6.68,7.70,1.02,mon
2236,V533 OPH,154,3,2443750.434000 29 Aug 1978 22:24:57.600000,2458996.494000 26 May 2020 23:51:21.600000,6.90,8.30,1.40,oph
2245,V551 CAS,14,2,2457751.250000 28 Dec 2016 18:00:00.000000,2458398.465000 6 Oct 2018 23:09:36.000000,7.40,8.90,1.50,cas
2278,V613 Mon,23,2,2451254.053000 16 Mar 1999 13:16:19.200000,2456658.363000 31 Dec 2013 20:42:43.200000,0.00,8.50,8.50,mon
2402,V971 TAU,6,1,2455074.417000 30 Aug 2009 22:00:28.800000,2455628.333000 7 Mar 2011 19:59:31.200000,3.80,4.80,1.00,tau
2452,VZ CAM,182,7,2440285.348000 4 Mar 1969 20:21:07.200000,2457626.500000 26 Aug 2016 00:00:00.000000,4.60,5.60,1.00,cam
2474,W GEM,51,3,2449738.724300 21 Jan 1995 05:22:59.520000,2458900.419000 20 Feb 2020 22:03:21.600000,6.50,7.60,1.10,gem
2495,WW AUR,202,6,2443549.312000 9 Feb 1978 19:29:16.800000,2458469.742000 17 Dec 2018 05:48:28.800000,5.40,6.76,1.36,aur
2536,X CYG,49,4,2412726.500000 20 Sep 1893 00:00:00.000000,2454594.545100 8 May 2008 01:04:56.640000,4.40,9.00,4.60,cyg
2639,ZETA AUR,226,4,2449720.620800 3 Jan 1995 02:53:57.120000,2458917.396000 8 Mar 2020 21:30:14.400000,2.90,4.20,1.30,aur

In [28]:
vs_target_list.sort_values('VS Constellation')

,Variable Star,Number of Observations,Number of Observers,First Observation JD / UT,Latest Observation JD / UT,Maximum Magnitude,Minimum Magnitude,Range,Valid_nFields,VS Constellation
1895,V1229 Aql,2,1,2440695.626000 19 Apr 1970 03:01:26.400000,2440709.580000 3 May 1970 01:55:12.000000,7.30,8.60,1.30,1,aql
452,EP Aqr,16,1,2455854.309000 19 Oct 2011 19:24:57.600000,2456272.239000 10 Dec 2012 17:44:09.600000,6.30,7.30,1.00,1,aqr
1201,RT AUR,50,5,2440287.326000 6 Mar 1969 19:49:26.400000,2451890.588000 12 Dec 2000 02:06:43.200000,4.90,6.10,1.20,1,aur
699,IU AUR,58,3,2449597.558000 2 Sep 1994 01:23:31.200000,2458482.338800 29 Dec 2018 20:07:52.320000,6.90,9.00,2.10,1,aur
2495,WW AUR,202,6,2443549.312000 9 Feb 1978 19:29:16.800000,2458469.742000 17 Dec 2018 05:48:28.800000,5.40,6.76,1.36,1,aur
2639,ZETA AUR,226,4,2449720.620800 3 Jan 1995 02:53:57.120000,2458917.396000 8 Mar 2020 21:30:14.400000,2.90,4.20,1.30,1,aur
2141,V428 AUR,235,4,2458099.330000 11 Dec 2017 19:55:12.000000,2459906.392000 22 Nov 2022 21:24:28.800000,6.50,8.10,1.60,1,aur
320,CO AUR,229,5,2442427.437000 14 Jan 1975 22:29:16.800000,2454829.512500 29 Dec 2008 00:18:00.000000,7.30,8.30,1.00,1,aur
384,DK BOO,9,1,2458245.448000 6 May 2018 22:45:07.200000,2459310.347000 5 Apr 2021 20:19:40.800000,7.70,8.70,1.00,1,boo
2452,VZ CAM,182,7,2440285.348000 4 Mar 1969 20:21:07.200000,2457626.500000 26 Aug 2016 00:00:00.000000,4.60,5.60,1.00,1,cam
1203,RT CAP,146,1,2444482.405000 30 Aug 1980 21:43:12.000000,2459870.295000 17 Oct 2022 19:04:48.000000,7.40,8.70,1.30,1,cap
1659,TU CAS,170,3,2449739.618700 22 Jan 1995 02:50:55.680000,2454952.513900 1 May 2009 00:20:00.960000,6.80,8.50,1.70,1,cas
2245,V551 CAS,14,2,2457751.250000 28 Dec 2016 18:00:00.000000,2458398.465000 6 Oct 2018 23:09:36.000000,7.40,8.90,1.50,1,cas
820,MO CEP,111,2,2451516.385000 3 Dec 1999 21:14:24.000000,2459852.410000 29 Sep 2022 21:50:24.000000,5.00,6.50,1.50,1,cep
443,EK CEP,221,3,2446491.388000 1 Mar 1986 21:18:43.200000,2458961.578000 22 Apr 2020 01:52:19.200000,7.60,8.90,1.30,1,cep
1479,ST CEP,85,10,2440621.394000 3 Feb 1970 21:27:21.600000,2459633.354100 22 Feb 2022 20:29:54.240000,7.50,9.00,1.50,1,cep
1732,U CET,10,2,2411741.500000 9 Jan 1891 00:00:00.000000,2413562.500000 4 Jan 1896 00:00:00.000000,6.60,9.00,2.40,1,cet
1573,T CET,227,3,2444113.540000 28 Aug 1979 00:57:36.000000,2459842.466000 19 Sep 2022 23:11:02.400000,4.90,7.00,2.10,1,cet
1104,R CMA,88,5,2411763.520833 31 Jan 1891 00:29:59.971200,2454827.620100 27 Dec 2008 02:52:56.640000,5.20,6.64,1.44,1,cma
532,FS COM,240,4,2445468.430000 13 May 1983 22:19:12.000000,2459752.480000 21 Jun 2022 23:31:12.000000,5.50,6.90,1.40,1,com
1496,SU CYG,58,1,2455773.405000 30 Jul 2011 21:43:12.000000,2456278.245000 16 Dec 2012 17:52:48.000000,6.60,7.60,1.00,1,cyg
1953,V1743 CYG,2,2,2456940.424000 9 Oct 2014 22:10:33.600000,2458996.503000 27 May 2020 00:04:19.200000,6.30,8.00,1.70,1,cyg
1976,V2080 CYG,41,2,2456840.451000 1 Jul 2014 22:49:26.400000,2458635.478100 31 May 2019 23:28:27.840000,6.20,8.30,2.10,1,cyg
2536,X CYG,49,4,2412726.500000 20 Sep 1893 00:00:00.000000,2454594.545100 8 May 2008 01:04:56.640000,4.40,9.00,4.60,1,cyg
1278,RX CYG,49,1,2444144.472000 27 Sep 1979 23:19:40.800000,2457513.503000 5 May 2016 00:04:19.200000,7.00,8.20,1.20,1,cyg
1185,RS Del,44,3,2440391.528000 19 Jun 1969 00:40:19.200000,2458457.322200 4 Dec 2018 19:43:58.080000,7.00,8.70,1.70,1,del
738,KP DEL,89,3,2455752.433000 9 Jul 2011 22:23:31.200000,2459904.281000 20 Nov 2022 18:44:38.400000,6.30,8.80,2.50,1,del
342,CT DEL,69,3,2456710.729000 22 Feb 2014 05:29:45.600000,2458960.615000 21 Apr 2020 02:45:36.000000,6.90,8.20,1.30,1,del
2474,W GEM,51,3,2449738.724300 21 Jan 1995 05:22:59.520000,2458900.419000 20 Feb 2020 22:03:21.600000,6.50,7.60,1.10,1,gem
392,DN GEM,12,1,2419477.330000 15 Mar 1912 19:55:12.000000,2419540.420000 17 May 1912 22:04:48.000000,4.00,7.20,3.20,1,gem
782,LQ HER,16,2,2444333.333333 3 Apr 1980 19:59:59.971200,2459726.494000 26 May 2022 23:51:21.600000,6.00,7.70,1.70,1,her
189,BETA LEO,67,5,2443571.517000 4 Mar 1978 00:24:28.800000,2458951.469000 11 Apr 2020 23:15:21.600000,1.60,3.00,1.40,1,leo
1352,S LEP,199,3,2444168.675000 22 Oct 1979 04:12:00.000000,2459858.672000 6 Oct 2022 04:07:40.800000,6.40,7.90,1.50,1,lep
544,FY LIB,128,2,2451261.109000 23 Mar 1999 14:36:57.600000,2459787.426000 26 Jul 2022 22:13:26.400000,6.90,8.30,1.40,1,lib
2278,V613 Mon,23,2,2451254.053000 16 Mar 1999 13:16:19.200000,2456658.363000 31 Dec 2013 20:42:43.200000,0.00,8.50,8.50,1,mon
2213,V505 MON,98,3,2443803.718000 22 Oct 1978 05:13:55.200000,2458440.632000 18 Nov 2018 03:10:04.800000,6.68,7.70,1.02,1,mon
1994,V2368 OPH,16,2,2453934.475700 17 Jul 2006 23:25:00.480000,2458341.399000 10 Aug 2018 21:34:33.600000,5.80,7.30,1.50,1,oph
2166,V451 OPH,110,2,2453594.410400 11 Aug 2005 21:50:58.560000,2458261.544000 23 May 2018 01:03:21.600000,7.60,8.70,1.10,1,oph
2236,V533 OPH,154,3,2443750.434000 29 Aug 1978 22:24:57.600000,2458996.494000 26 May 2020 23:51:21.600000,6.90,8.30,1.40,1,oph
2046,V361 Ori,26,3,2440285.326000 4 Mar 1969 19:49:26.400000,2446519.351000 29 Mar 1986 20:25:26.400000,7.90,8.90,1.00,1,ori
227,BM ORI,5,1,2454498.263000 1 Feb 2008 18:18:43.200000,2457421.279000 2 Feb 2016 18:41:45.600000,5.50,8.50,3.00,1,ori
1859,V1016 ORI,7,1,2454498.263000 1 Feb 2008 18:18:43.200000,2457421.279000 2 Feb 2016 18:41:45.600000,5.40,7.30,1.90,1,ori
643,HR PEG,71,3,2444882.372000 4 Oct 1981 20:55:40.800000,2459599.260400 19 Jan 2022 18:14:58.560000,6.10,7.50,1.40,1,peg
1692,TW PEG,80,3,2445968.326000 24 Sep 1984 19:49:26.400000,2459852.402000 29 Sep 2022 21:38:52.800000,7.00,8.40,1.40,1,peg
712,IZ PER,173,2,2443777.313000 25 Sep 1978 19:30:43.200000,2457310.494000 14 Oct 2015 23:51:21.600000,7.45,8.80,1.35,1,per
1561,SZ PSC,275,3,2443472.281000 24 Nov 1977 18:44:38.400000,2457279.413000 13 Sep 2015 21:54:43.200000,6.80,8.00,1.20,1,psc
2402,V971 TAU,6,1,2455074.417000 30 Aug 2009 22:00:28.800000,2455628.333000 7 Mar 2011 19:59:31.200000,3.80,4.80,1.00,1,tau
372,DELTA UMA,217,7,2440420.524000 18 Jul 1969 00:34:33.600000,2459050.417000 19 Jul 2020 22:00:28.800000,2.10,4.40,2.30,1,uma
1695,TW UMI,131,3,2454419.402100 14 Nov 2007 21:39:01.440000,2459852.414000 29 Sep 2022 21:56:09.600000,7.10,8.40,1.30,1,umi
1656,TT UMI,183,3,2454419.400700 14 Nov 2007 21:37:00.480000,2459852.413000 29 Sep 2022 21:54:43.200000,6.80,8.20,1.40,1,umi
93,ALPHA UMI,3,1,2453716.356000 11 Dec 2005 20:32:38.400000,2454465.519000 31 Dec 2007 00:27:21.600000,0.10,2.80,2.70,1,umi
2011,V336 VUL,34,1,2447603.688889 18 Mar 1989 04:32:00.009600,2449012.733000 25 Jan 1993 05:35:31.200000,6.90,8.70,1.80,1,vul
2173,V459 VUL,4,2,2454468.243800 2 Jan 2008 17:51:04.320000,2454473.259700 7 Jan 2008 18:13:58.080000,8.00,9.00,1.00,1,vul

In [29]:
vs_target_list['VS Constellation'].value_counts()

aur    6
cyg    5
umi    3
oph    3
cep    3
del    3
ori    3
mon    2
gem    2
vul    2
peg    2
cas    2
cet    2
tau    1
aql    1
psc    1
lep    1
her    1
cap    1
cma    1
leo    1
per    1
lib    1
com    1
aqr    1
boo    1
uma    1
cam    1
Name: VS Constellation, dtype: int64